.buttonslide{
    border-radius: 15px;
    border: none;
    width: 260px;
    height: 65px;
    background-color: #5284E4;
    padding: 0;
    
  }
  .TextButton{
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000;
    
  }
  .TextButtonVideo{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000;
  }
  .buttonvideo{
    border-radius: 15px;
    border: none;
    width: 260px;
    height: 50px;
    background-color: #5284E4;
    padding: 0;
    
  }
  