/*
@media screen and (min-width: 20px) and (max-width: 991px) {
    .CheckCards{
        flex-direction: column;
        
    }
    .Card1{
       margin: auto;
       max-width: 100%;
       height: auto;
       
    }
    .HeadText{
        text-align: center;
    }
    .StickerImg{
        max-width: 100%;
    }
    .CardAboutText{
     font-size: 16px;
     
     height: auto;
     
    }
    .CardAbout{
        height: auto;

    }
    .Check{
        height: auto;
    }
}
    */
    @media screen and (min-width: 20px) and (max-width: 1110px) {
        .CheckCard{
           flex-wrap: wrap;
           justify-content: center;
        }
        .CheckBlk{
            height: auto;
        }
        .CheckCardFirst{
            height: auto;
        }
        .CheckCardSecond{
            height: auto;
        }
        .CheckCardButton{
            margin-bottom: 30px;
        }
        .Links{
            text-align: center;
            display: flex;
            justify-content: center;
        }
        .stikprivacy{
            margin-bottom: 97px;
            width: 250px;
        }
        
       
    }