@media screen and (min-width: 363px) and (max-width: 991px) {
.row{
    display: flex !important;
    justify-content: space-between;
}
.logo{
    display: flex !important;
    align-items: center !important;
    margin: auto;
    height: 100px;
    max-width: 140px;
    padding: 0 !important;
}

.nav{
    display: none;
}
.country{
    width: 148px;
    display: flex;
    align-items:center;
    
    
}
.hamburger{
    display: flex;
    max-width: 100px;
    max-height: 100px;
    justify-content:left;
    align-items: center;
}
.hamburger-menu{
    display: flex;
    
    max-height: 100px !important;
    align-items: center;
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    align-items: center;
    display: flex;
    position: fixed;
    
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 99999;
    
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
    
  }
  .menu__box {
    display: block;
    
    z-index: 9999;
    position: absolute;
    top: 0;
    left: -100%;
    width: 200px;
    height: 305px;
    margin: 0;
    padding: 90px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}
@media screen and (min-width: 50px) and (max-width: 500px) {
    .row{
        display: flex !important;
        justify-content:space-between;
        max-width: 500px;
    }
.country{
max-width: 100px;
display: flex !important;
justify-content: right;
padding: 20px;
}
.logo{
    display: flex !important;
    align-items: center !important;
    margin: auto;
    height: 100px;
    max-width: 140px;
    padding: 0 !important;
}
.log{
    justify-content: center !important;
    display: flex;
    margin: auto !important;
}
.nav{
    display: none;
}
.icon{
    width: 30px;
}
.hamburger{
    display: flex;
    max-width: 100px;
    max-height: 100px;
    justify-content:left;
    align-items: center;
    
}
.hamburger-menu{
    display: flex;
    
    max-height: 100px !important;
    align-items: center;
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    align-items: center;
    display: flex;
    position: fixed;
    
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 99999;
    
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
    
  }
  .menu__box {
    display: block;
    
    z-index: 9999;
    position: absolute;
    top: 0;
    left: -100%;
    width: 200px;
    height: 305px;
    margin: 0;
    padding: 90px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}