
@media screen and (min-width: 501px) and (max-width: 991px) {

.NameCompany{
  display: none;
}
.burger-menu{
  width: 148px;
}
}
@media screen and (min-width: 20px) and (max-width: 501px) {
  .NameCompany{
    display: none;
  }
  .burger-menu{
    width: 74px;
  }
  .hide-on-small-screen {
    display: none;
  }
  
}
