
.Videosection{
  background-color: rgb(250, 250, 250);
}
.BlkVideo{
    max-width: 1400px;
    height: 600px;
    display: flex;
    justify-content:space-between;
    margin: auto;
    align-items: center !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    
   
}

.video-view{
    position: relative;
    width: 572px;
    height: 414px;
    
    
    

}
.video-view .video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #ccc;
  }
  .video-view .video-content {
    position: absolute;
    top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
  }
  .PlayButton{
    width: 70px;
    height:70px;
    border: none;
    background-image: url('./img/playbtn.png');
    background-size: 100% 100%;
    border-radius: 50%;
  }
  .Text{
    max-width: 690px;
    height: 315px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 0;
  }
  .About{
    font-family: Roboto-Medium;
    font-size: 40px;
    margin-bottom: 0;
    font-weight: normal;
    
  }
  .AboutText{
    font-family: Roboto-Regular;
    font-size: 18px;
    margin-bottom: 0;
    height: 52px;
    
    
  }
  .AboutTextBot{
    font-family: Roboto-Regular;
    font-size: 18px;
    height: 156px;
    margin-bottom: 0;
  }
  .Bold{
    font-family: Roboto-Medium;
  }
  
.VideoBtn{
  justify-content: right;
  display: flex;
  margin-right: 74px;
  
  
  
 
}
.RightSide{
  padding-left: 20px;
  
}





.butttt {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  background-color: #2e41ec;
}

.menu-button {
  padding: 0 !important;
  border: none !important;
  margin-bottom: 0;
}



.menu {
  position: absolute;
  top: 1120px; /* Положение по вертикали (можно настроить по вашему желанию) */
  left: 50%; /* Размещаем элемент относительно центра */
  width: 100%;
  max-width: 1380px; /* Максимальная ширина блока */
  max-height: 1460px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #5284E4;
  border-radius: 7px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: translateX(-50%); 
  box-sizing: border-box;
  
}


.menu.active {
  transform: translateY(0);
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  box-sizing: border-box;
}



.menu__list {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.menu__item {
  display: flex;
  text-align: justify;
  font-size: 18px;
  text-indent:30px;
  font-family: Roboto-regular;
  
}

.menu__item:nth-child(n + 2) {
  margin-top: 15px;
}

.icon {
  margin-right: 15px;
  font-size: 24px;
  color: inherit;
}
