@media screen and (min-width: 20px) and (max-width: 991px) {
    .firstfooter{
        flex-wrap: wrap;
        
        
    }
    
    .secondfooter{
        flex-wrap: wrap;
        
    }
    .logotext{
        margin-top: 20px;
        padding-bottom: 10px;
        
    }
}
@media screen and (min-width: 20px) and (max-width: 909px) {

.footBlk{
    height: auto !important;
  }
  .secondFooterText{
    margin-bottom: 20px;
  }
  
}