#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 1400px;
  height: 100%;
  
  
}



.swiper-slide {
  background-position: center;
  background-size: cover;
  
}
.slide{
  height: 500px;
}


.text{
  max-width: 470px;
  min-height: 141px;
  font-size: 40px;
  font-family: Roboto-Medium;
  margin-top: 100px;
}
.imyge{
  width: 598px !important;
  height: 463px;
}
.kamaz{
  justify-content: right;
  display: flex;
}

