.Slides{
  height:  500px;
  max-width: 100%;
  background-color: #93C2F9;
}
.slider-container {
  max-width: 100%;
  
  }
  .sliderslide{
    max-width: 100%;
    margin: auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    
    
  }
  
  
  
  
  .slide img {
    
   width: 300px;
   height: 300px;
    
  }
  
  
  .TextBanner{
    font-family: Roboto-Medium;
    font-size: 30px;
    width:  453px !important;
    line-height: normal;
    margin-top: 100px;
    margin-bottom: 91px;
    
    
  }
  
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
  }
  .swiper-pagination-bullet{
    width:var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20px)) ;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 20px));
  }
  .slideBlk{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:20px;
    height: 500px;
    max-width: 1400px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    
    
  }
  .slideBlk div:nth-child(1) {
    grid-column: 1 / span 4;
  }
  .slideBlk div:nth-child(2) {
    grid-column: 10 / span 3;
  }
  
 

  .btn{
    padding: 0 !important;
    border: none !important;
    
    margin-bottom: 0;
  }
  .image-container{
    align-items: center;
    display: flex;
  }
  